$font-family-base: "Segoe UI", "HelveticaNeue-Light", sans-serif !default;
$max-content-width: 1200px !default;
$screen-xs-min: 480px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;
