.root {
    margin: 0;
    padding: 2.4rem 0;

    color: white;
    background: #282c34;

    .copyright {
        display: block;

        line-height: 1;
        font-size: 1.6rem;
        text-align: center;
    }
}
